.item-name {
    font-size: 1.2rem;
    margin-left: 4px;
}
.checkbox {
    height: 1.2rem;
    margin: 0;
    padding: 0;
}

.item-wrapper {
    margin: 5px 0;
}

.checked {
    text-decoration: line-through;
}
