.header {
    display: flex;
    background-color: turquoise;
    height: 64px;
    justify-content: center;
}

.header-content {
    display: flex;
    height: 100%;
    width: 90%;
    max-width: 960;
}

.logo {
    display: inline-block;
    height: 100%;
}

.nav-wrapper {
    flex: 1;
    display: inline-block;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    list-style: none;
    height: 100%;
}

.tab {
    width: 200px;
    font-size: 1.6rem;
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: center;
}

.link {
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}