.habitWrapper {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.habitList {
    background-color: white;
    box-shadow: 0px 7px 20px 5px var(--shadow);
    width: 50%;
    min-height: 70vh;
}

.habitManager {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 7px 20px 5px var(--shadow);
    width: 30%;
    min-height: 70vh;
    position: fixed;
    right: 10%;
    top: calc(64px + 3rem);
}

.inputWrapper {
    display: flex;
}

.habitInput {
    height: 1.4rem;
    margin: 5px;
    padding: 2px;
    font-size: 1rem;
    font-family: var(--font-family);
    flex: 1;
}

.addHabitButton {
    height: 100%;
    margin: 7px 5px;
    font-family: var(--font-family);
    font-size: 1rem;
    border: none;
    line-height: 1.4rem;
    padding: 2px;
    min-width: 75px;
}

.addHabitButton:hover {
    color: white;
    background-color: var(--p-dark);
}

.items {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: white;
}