.item-name {
    font-size: 1.2rem;
    padding: 5px;
}
.checkbox {
    height: 1.2rem;
    padding: 5px;
    margin: 5px;
}

.item-wrapper {
    margin: 5px 0;
}

.checked {
    text-decoration: line-through;
    color: var(--grey);
}

.text-button {
    border: none;
    background-color: inherit;
    padding: 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
}

.text-button:hover {
    background: var(--p-dark);
    color: var(--light);
}

.checked:hover {
    background: var(--grey);
    color: var(--light);
}
