.checkbox {
    height: 1.2rem;
    padding: 5px;
    margin: 5px;
}

.item-wrapper {
    margin: 5px 0;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.checked {
    text-decoration: line-through;
    color: var(--grey);
}

.text-button {
    border: none;
    background-color: inherit;
    padding: 5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    display: inline-block;
    text-align: left;
    flex: 1;
}

.text-button:hover {
    background: var(--p-dark);
    color: var(--light);
}

.checked:hover {
    background: var(--grey);
    color: var(--light);
}

.deleteIcon {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 1.2rem;
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    padding: 5px;
    margin: 0 5px;
}

.deleteIcon:hover {
    background-color: var(--s-light);
}

.frequency {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 1.2rem;
    font-size: 1rem;
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: center;
    padding: 5px;
    background-color: var(--s-light);
    margin: 0 5px;
}