body {
  margin: 0;
  padding: 0;
  background-color: var(--grey);
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="checkbox"] {
  transform: scale(1.6, 1.6);
}

:root {
  --primary: #40e0d0;
  --p-light: #7fffff;
  --p-dark: #00ad9f;
  --p-dark-trans: rgba(0, 173, 159, 0.5);
  --shadow: rgba(140, 133, 156, 0.1);
  --secondary: #ff5252;
  --s-light: #ff867f;
  --s-dark: #c50e29;
  --light: #f8f8f8;
  --grey: #e3e3e3;
  --dark: #464646;
  --header-height: 64px;
  --font-family: Rubik,Lato,lucida grande,lucida sans unicode,Tahoma,Sans-Serif;
}